/* @autor Antônio Carlos */


/*Configurações Gerais*/
body{
	font-family: 'Roboto', sans-serif;
}

.row{
	margin: 0;
}

.container{
	padding: 70px 0;
}

p, li{
	color: #444;
	font-size: 14px;
}

/*Barra de navegação*/
header, .navbar{
	background-color: #353D41;
}

#nav-container{
	padding-top: 0;
	padding-bottom: 0;
}

#logo {
	width: 142px;
}

.navbar-brand{
	padding: 0;
	color: #fff;
}

.navbar-brand:hover{
	color: #fff;
}

#navbar-links a{
	color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 1rem .8rem;
}

/*Slider*/
.container-fluid{
	padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item{
	height: 90vh;
}

#mainSlider .carousel-caption{
	top: 30%;
}

#mainSlider .carousel-caption h2{
	font-size: 50px;
	margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 100px;
	color: #fff;
}

.main-btn{
	background-color: #65daf9;
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	height: 60px;
	padding: 10px 20px;
	border-radius: 30px;
	border: 3px solid transparent;
	transition: .5s;
}

.main-btn:hover{
	text-decoration: none;
	color: #fff;
	background-color: transparent;
	border-color: #65daf9;
}

.carousel-indicators .active{
	background-color: #65daf9;
}

/* Sobre a empresa */
#about-area{
	background-color: #f9f9f9;
}

.main-title{
	color: #444;
	margin: 0 0 65px 0;
	font-size: 40px;
	text-align: center;
}

.main-title::after{
	content: "";
	border-top: 2px solid #333;
	width: 15%;
	position: absolute;
	top: 60px;
	left: 42.5%;
}

.about-title{
	font-size: 22px;
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
}

#about-list{
	list-style: none;
	padding-left: 0;
}

#about-list li{
	line-height: 30px;
}

#about-list i{
	color: #65daf9;
	margin-right: 15px;
}

#about-area p{
	font-size: 16px;
	text-align: justify;
}

#about-area li{
	font-size: 16px;
}

/* Serviços */
.service-box{
	text-align: center;
	margin-bottom: 50px;
}

.service-box p{
	text-align: justify;
	font-size: 16px;
}

.service-box i, .service-box h4{
	transition: .5s;
}

.service-box i{
	font-size: 36px;
	margin-bottom: 20px;
	color: #444;
}

.service-box h4{
	font-size: 24px;
	margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4{
	color: #65daf9;
}

/*Dados*/
.circle-box div{
	padding: 0 40px;
}

.progressbar-text{
	font-weight: bold;
	font-size: 32px;
}

#data-area p{
	color: #fff;
	text-align: center;
	font-size: 26px;
	margin-top: 20px;
}

/*Time*/

#team-area{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #efefef;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card{
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description{
  font-size: 16px;
  color: #707070;
  text-align: justify;
}

.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
